* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}

main {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  main {
    margin: 1em 2em;
  }
}
