* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  line-height: 1.6;
}

/* main Layout */
main {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  margin: 2rem;
  border-radius: 8px;
}

/* Typography */
h1,
h2 {
  font-family: "Young Serif", serif;
  margin-top: 1rem;
}

p,
li {
  margin-top: 0.5rem;
}

p,
h3,
li,
table {
  font-family: "Outfit", sans-serif;
}

ul li {
  margin-left: 1rem;
  text-indent: 1rem;
}

ol li {
  margin-left: 1rem;
  padding-left: 1rem;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: hsl(332, 40%, 25%);
}

h3 {
  color: hsl(332, 51%, 32%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

hr {
  margin-top: 1rem;
}

table {
  margin-top: 1rem;
}
tr {
  height: 2.5rem;
}

th {
  font-weight: 400;
  text-align: left;
}

td {
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

th,
td {
  width: 85%;
  border-bottom: hsl(0, 0%, 66%) solid 0.5px;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: hsl(332, 51%, 32%);
}

/* Responsive Design */
@media (min-width: 1440px) {
  main {
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 70%;
  }

  img {
    width: 100%;
    border-radius: 1rem;
  }
}

@media (min-width: 375px) {
  main {
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .container {
    padding: 1rem;
  }
}

/* Utility Classes */
.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
